.categories {
    display: inline-block;
} 

.category {
    display: inline-block;
    padding: 10px;
    margin: 5px;

}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-btn {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.nav-btn:focus {
    outline: none;
}

.order-summary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 9999; 
}

.ordered-items-list {
    max-height: 120px; /* Définir une hauteur maximale pour la liste */
    overflow-y: auto;
}

input {
    border: solid 2px blue;
}

.customer-details-form:focus-within label {
    border-color: blue;
}
