.container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    animation: scrollAnimation 10s linear infinite;
}

.categories {
    display: inline-block;
}

.category {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-btn {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.nav-btn:focus {
    outline: none;
}

@keyframes scrollAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Déplacer complètement vers la gauche */
}
